<div id="<%= dom_id product_duplicate %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Canonical product:</strong>
    <%= product_duplicate.canonical_product_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Action:</strong>
    <%= product_duplicate.action %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Certainity percentage:</strong>
    <%= product_duplicate.certainity_percentage %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Mapped product:</strong>
    <%= product_duplicate.mapped_product_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Levenshtein distance:</strong>
    <%= product_duplicate.levenshtein_distance %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Simliarity score:</strong>
    <%= product_duplicate.simliarity_score %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Product:</strong>
    <%= product_duplicate.product_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this product duplicate", product_duplicate, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this product duplicate', edit_product_duplicate_path(product_duplicate), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
