<div id="<%= dom_id item_sell_pack_alias %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Alias:</strong>
    <%= item_sell_pack_alias.alias %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Confirmed:</strong>
    <%= item_sell_pack_alias.confirmed %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Itemsellpack:</strong>
    <%= item_sell_pack_alias.ItemSellPack_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this item sell pack alias", item_sell_pack_alias, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this item sell pack alias', edit_item_sell_pack_alias_path(item_sell_pack_alias), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
