<div id="<%= dom_id item_sell_pack %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= item_sell_pack.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Canonical:</strong>
    <%= item_sell_pack.canonical %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this item sell pack", item_sell_pack, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this item sell pack', edit_item_sell_pack_path(item_sell_pack), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
