<div id="<%= dom_id product %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= product.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Duplication certainity:</strong>
    <%= product.duplication_certainity %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Canonical certainity:</strong>
    <%= product.canonical_certainity %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Action:</strong>
    <%= product.action %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Collected statistics:</strong>
    <%= product.collected_statistics %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Spelling mistakes:</strong>
    <%= product.spelling_mistakes %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Catalogue count:</strong>
    <%= product.catalogue_count %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Buy list count:</strong>
    <%= product.buy_list_count %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Priced catalogue count:</strong>
    <%= product.priced_catalogue_count %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Average price:</strong>
    <%= product.average_price %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Max price:</strong>
    <%= product.max_price %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Min price:</strong>
    <%= product.min_price %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Standard deviation:</strong>
    <%= product.standard_deviation %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Variance:</strong>
    <%= product.variance %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Inventory barcode count:</strong>
    <%= product.inventory_barcode_count %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Inventory derived period balances count:</strong>
    <%= product.inventory_derived_period_balances_count %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Inventory internal requisition count:</strong>
    <%= product.inventory_internal_requisition_count %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Inventory stock counts count:</strong>
    <%= product.inventory_stock_counts_count %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Inventory stock levels count:</strong>
    <%= product.inventory_stock_levels_count %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Inventory transfer items count:</strong>
    <%= product.inventory_transfer_items_count %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Invoice line items count:</strong>
    <%= product.invoice_line_items_count %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Point of sell lines count:</strong>
    <%= product.point_of_sell_lines_count %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Procurement products count:</strong>
    <%= product.procurement_products_count %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Product supplier preferences count:</strong>
    <%= product.product_supplier_preferences_count %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Purchase order line items count:</strong>
    <%= product.purchase_order_line_items_count %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Rebates profile products count:</strong>
    <%= product.rebates_profile_products_count %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Receiving document line items count:</strong>
    <%= product.receiving_document_line_items_count %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Recipes count:</strong>
    <%= product.recipes_count %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Requisition line items count:</strong>
    <%= product.requisition_line_items_count %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this product", product, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this product', edit_product_path(product), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
